extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imangen de nosotros"  class="img-fluid")
            .col-md-7  
                h1 #{pagina}
                blockquote Ut vel enim elit. Curabitur nec sodales mi, ac feugiat risus. Nam mollis urna at pretium fringilla. Praesent vel iaculis lectus, rhoncus aliquam arcu. Aliquam porta ullamcorper leo. Nulla suscipit lacus mi. Etiam vitae consectetur ligula, nec iaculis metus. Sed porttitor nibh eu risus auctor efficitur.
                p Nullam lobortis ligula iaculis elit volutpat rutrum. Nullam mauris lorem, semper vehicula efficitur vel, efficitur et tellus. Nullam condimentum semper tempus.
                p Vivamus sodales ultrices neque non euismod. Sed fermentum lacinia arcu id ullamcorper. Curabitur imperdiet sapien non urna rutrum efficitur. Vestibulum lacinia arcu ipsum.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nullam lobortis ligula iaculis elit volutpat rutrum. Nullam mauris lorem, semper vehicula efficitur vel, efficitur et tellus. Nullam condimentum semper tempus.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Sed fermentum lacinia arcu id ullamcorper. Curabitur imperdiet sapien non urna rutrum efficitur. Vestibulum lacinia arcu ipsum
                .col-md-4
                    img(src="img/icono_precios.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p get, eleifend ut arcu. Duis vel diam placerat massa consectetur mollis laoreet nec risus. Quisque maximus viverra congue. 
                    