Precio
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in sagittis purus. Suspendisse potenti. Sed ac massa sit amet ligula ornare feugiat. Sed ullamcorper interdum malesuada. Etiam id nisl vel nulla dapibus ullamcorper. Vivamus eget orci porta, aliquam tortor at, iaculis tortor. Duis vitae metus aliquam augue dapibus facilisis.
                p Morbi eu fermentum velit, quis maximus nulla. Proin malesuada ipsum ut nisl lacinia, vitae iaculis nunc rhoncus. Proin vel sapien eu lorem sagittis fermentum quis nec quam. Duis sollicitudin orci leo, quis volutpat felis consectetur eget. Maecenas at libero et nibh pretium elementum. Morbi sit amet massa fermentum, laoreet augue et, ornare eros. Donec consequat eros vitae ligula gravida mattis. Sed et dolor posuere, vehicula turpis ut, finibus eros. Aenean nibh odio, scelerisque nec auctor in, rutrum ac eros. 
                p Sed nisl magna, lobortis in sagittis in, ultricies id mauris. Nulla consectetur, lectus ut dapibus molestie, erat turpis vulputate nisl, eget pharetra nulla massa id ante. Integer pellentesque porttitor lectus quis ultricies. Phasellus augue metus, dictum ac scelerisque sed, aliquam pellentesque diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas euismod non velit et semper. Donec porta odio nibh, in gravida mauris vestibulum dignissim. 

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p La agencia de viajes mas segura del condado
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="Mejores destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Los mejores destinos asegurados
                .col-md-4
                    img(src="/img/icono_precios.svg", alt=" Precios", class="img-fluid mb-4")
                    h2.mb-4 Los precios mas bajos
                    p Si consigue precios mas bajos que los nuestros, le reembolsamos el 2%
