extends ../layout/index
block slider
    .slider
        h1 Saladas, Corrientes 
        em Aventura y placer 


block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6

            .col-md-6